<h1>Edit Landmark</h1>

<h2><%= @landmark.name %></h2>

<form method="POST" action="/landmark/<%= @landmark.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <p>Name: <input type="text" name="landmark[name]" id="name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>

  <input type="submit" name="edit" id="Edit Landmark">
</form>
