<h1>Create New Landmark</h1>

<form method="POST" action="/landmarks">
  Name: <input type="text" name="landmark[name]" id="name">
  Year Completed: <input type="text" name="landmark[year]" id="year">

  <input type="submit" name="Create">
</form>
  
